.vscode
*.exe
*.o
arvorebinaria/carlosdaniel_202000024294_arvorebinaria
arvorebinaria/exemploslide
meu.input
meu.output
teste.c
teste.cpp
dicionario/carlosdaniel_202000024294_dicionario
dicionario/meu.input
dicionario/carlosdaniel_202000024294_dicionario
controledesenha/carlosdaniel_202000024294_controledesenha
loteria/carlosdaniel_202000024294_loteria
autocompletar/carlosdaniel_202000024294_autocompletar
controledesenha/carlosdaniel_202000024294_controledesenha.c
