.vscode
*.exe
*.o
arvorebinaria/carlosdaniel_202000024294_arvorebinaria
arvorebinaria/exemploslide
meu.output
teste.c
dicionario/carlosdaniel_202000024294_dicionario
.gitignore
poximdb/teste
poximdb/teste.cc
dicionario/teste
